@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* shared styles */
.display-flex{
    display: flex;
}
.orang{
    color: #FEA301;
}
.sky-blue{
    color: rgba(1, 172, 253, 1);
}
.purple{
  color: rgba(93, 88, 239, 1);;
}
.cyan{
    color: rgba(5, 212, 223, 1) ;
}
.btn-primary{
    border-radius: 12px;
background:  rgba(17, 17, 17, 1);
padding: 10px;
color: white;
font-weight: 700;
font-size: 1.25rem;
border: none;
}
/* header styles */
.head{
        padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}
.nav-logo{
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.school{
    font-size: 2rem;
    font-weight: 700;
}
.navbar ul{
 display: flex;

}
.navbar ul li{
    list-style: none;
    margin-right: 32px;
} 
.navbar li a{
    text-decoration: none;

}
.nav-btn{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #FEA301;
}
.menu-icon{
    display: none;
}
/* banner section */
.banner{
    max-width: 1150px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
.banner-contant{
    max-width: 640px;
   padding: 120px 50px 120px 0px;

}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 24px;
}
.banner-description{
    color: var(--Black, rgba(17, 17, 17, 1));
font-size: 1.25rem;
font-weight: 400;
    padding-bottom: 24px;
}








/* responsive media mobile device */
@media screen and (max-width:576px){
   .school, 
   .navbar,
   .nav-btn{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .border{
    border-bottom: 1px solid #FEA301;
}
.banner{
    flex-direction: column-reverse;
}
.banner-contant{
    text-align: center;
    padding: 20px;
}
}
/* responsive with table/desktop*/
@media screen and (min-width:576px) and (max-width:992px){
    .banner{
        padding: 20px;
    }
}